*.idea
/src/main/resources/training/arff/evidence/.gitignore
/src/main/java/org/aksw/defacto/defacto.ini
defacto.ini
.classpath
.project
.settings
.directory

/src/main/resources/training/arff/evidence/40%_false_all.arff
/src/main/resources/training/arff/evidence/50-50_random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/all_defacto_evidence.arff
/src/main/resources/training/arff/evidence/domain_defacto_evidence.arff
/src/main/resources/training/arff/evidence/domain_range_defacto_evidence.arff
/src/main/resources/training/arff/evidence/numeric_50-50_random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/property_defacto_evidence.arff
/src/main/resources/training/arff/evidence/random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/range_defacto_evidence copy.arff
/src/main/resources/cache
/defacto-core/.idea/

/cache/sparql
/target
/log/info.log
.idea/.name
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
repo/
