.classpath
.project
.settings
.directory

/src/main/resources/training/
/src/main/resources/cache
/defacto.ini
/.idea/
/data/
/data_for_installation/
/.settings/
/cache/
/target
/log/info.log
/log/factConfirmation.html
/repo/
