.wrap-word {    
    
    word-wrap: break-word;
    margin-right: 2px;
    color: white;
    background-color: #b7b8b2;
    display: inline;
    padding: .2em .6em .3em;
    /* font-size: 75%; */
    /* font-weight: 700; */
    line-height: 1;
    border-radius: 2px;
}
.button {
    /* font-size: 10px;
    
    position: absolute;
    top: 0px;
    right: 0px; */
    margin-left: 8px;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
   
    padding: 0px 2px;
    font-size: 75%;
    font-weight: 700;
    
    color: white;
   
   }
   .word-wrap {
    -ms-word-break: break-all;
    word-break: break-all;
  
    /* Non standard for webkit */
    word-break: break-word;
  
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .list-group.word-wrap .list-group-item .url-img {    
    padding-top: 3px;
    margin-right: 3px;
    float: left;
}

.list-group.word-wrap .list-group-item .proof-img {    
    padding-top: 2px;
    margin-right: 3px;
    float: left;
}
.list-group.word-wrap .list-group-item li {    
    margin-top: 25px;
}
.list-group.word-wrap .list-group-item .proofphrase {    
    padding: 0px;
    margin: 0px;    
}
.list-group.word-wrap .list-group-item .website {    
    padding-bottom: 0px;
    margin-bottom: 0px;    
}
.proofsentence {
    font-weight: normal;
}
.downloadimage {
    float: right;
    margin-top: 7px;
    
}
.hreadingresult {
    float:left;
}

.filler {
    min-height: 300px;
}

.heading {
    background-color: aliceblue;
}
button:hover {
    background-color: aliceblue;
}