<header>
  <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
    <a class="navbar-brand" routerLink=''>FactCheck</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='faq' title="Frequently asked question and how to use">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='about' title="About Fact Check">About
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>

  </nav>
</header>
<br>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">


        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">FactCheck UPB</h5>
        <p>FactCheck Demo, University Of Paderborn project</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink='faq' title="Frequently asked question and how to use">FAQ</a>
          </li>
          <li>
            <a routerLink='about' title="About Fact Check">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Github</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/danishahmed92/factcheck-api">FactCheck Api</a>
          </li>
          <li>
            <a href="https://github.com/Fahad-Anwar/factcheck-demo">FactCheck-Demo</a>
          </li>
          <li>
            <a href="https://github.com/dice-group/FactCheck">FactCheck</a>
          </li>
          <li>
            <a href="https://github.com/SmartDataAnalytics/DeFacto.git">DeFacto</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a routerLink=''> University Of Paderborn</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->