<!DOCTYPE html>
<html lang="en">

<head>
  <title>FactCheck Demo</title>
</head>

<body>

  <div class="container">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div class="row">
      <div class="col-sm-8">
        <form>
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="TEXT">
              <br>
              <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Enter subject" name="subject" (keyup)="$event.keyCode == 13 && addSubject()"
                  required/>
                <span class="form-text text-muted mt-2">
                  <label class="badge badge-primary p-2 mr-2" *ngIf="subjectURI !== ''">URI: </label>

                  <small class="wrap-word" *ngIf="subjectURI !== ''">{{subjectURI}}
                    <span class="button" (click)="removeSubjectURI()">X</span>
                  </small>
                  <div class="clearfix"></div>
                  <div *ngIf="list.hasSubjects()">
                    <label class="badge badge-success p-2">Labels: </label>
                    <span *ngFor="let item of list.subjects; let i = index">
                      <small class="wrap-word">{{item}}
                        <span class="button" (click)="list.removeSubject(i)">X</span>
                      </small>
                    </span>
                  </div>
                </span>

              </div>

              <div class="form-group">
                <label for="predicate"> Predicate: </label>
                <select class="form-control" id="predicate" [(ngModel)]="predicate" name="predicate" placeholder="Enter predicate">
                  <option>award</option>
                  <option>birth</option>
                  <option>death</option>
                  <option>foundationPlace</option>
                  <option>leader</option>
                  <option>nbateam</option>
                  <option>publicationDate</option>
                  <option>spouse</option>
                  <option>starring</option>
                  <option>subsidiary</option>
                </select>
                <!-- <input type="text" [disabled]="isFile" class="form-control" [(ngModel)]="predicate" name="predicate" placeholder="Enter predicate" /> -->
                <small class="form-text text-muted">Enter predicate, Nubers are not allowed...</small>
              </div>

              <div class="form-group">
                <label for="object">Object: </label>               
                <span class="form-text text-muted mt-2">
                  <label class="badge badge-primary p-2 mr-2" *ngIf="objectURI !== ''">URI: </label>
                  <small class="wrap-word" *ngIf="objectURI !== ''">{{objectURI}}
                    <span class="button" (click)="removeObjectURI()">X</span>
                  </small>

                  <div class="clearfix"></div>
                  <div *ngIf="list.hasOjbects()">
                    <label class="badge badge-success p-2">Labels: </label>
                    <span *ngFor="let item of list.objects; let i = index">
                      <small class="wrap-word">{{item}}
                        <span class="button" (click)="list.removeObject(i)">X</span>
                      </small>
                    </span>
                  </div>
                </span>
              </div>
            </mat-tab>

            <mat-tab label="FILE">
              <br>
              <div class="form-group">
                <label for="file">Please Select .tll file to upload. </label>
                <input name="file" id="fileInput" type="file" accept=".ttl" (change)="uploadFile($event)" />
              </div>
            </mat-tab>
          </mat-tab-group>
          <br>
          <div class="form-group">
            <button type="button" value="Submit" class="btn btn-primary" (click)="submitData()">Submit</button>
            <button type="button" value="Reset" class="btn btn-primary" (click)="resetEverthing()">Reset</button>
          </div>
        </form>
        <!-- end of "col-sm-8" div -->
      </div>

      <br>
      <div class="col-sm-4">
        <h2 class="text-center">Results: </h2>
        <hr/>
        <!-- <li *ngFor="let items of results">
          {{items.defactoScore}}
        </li> -->
        <ngx-spinner></ngx-spinner>

        <blockquote class="blockquote word-wrap">
          <div class="text-center">
            <p class="lead" *ngIf="loading">{{loadingText}}</p>
          </div>
          <!-- fgdgdf -->
          <!-- <p class="mb-0">{{result}} </p>-->
          <!-- <ul class="list-group word-wrap"> -->
          <ul class="list-group word-wrap" *ngIf="result !== ''">
            <li clss="list-group-item">{{result}}</li>
          </ul>
          <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. -->

        </blockquote>
        <!-- <span class="badge-success word-wrap">{{result}}</span> -->

        <!-- end of "col-sm-4" div -->
      </div>

      <!-- end of row div -->
    </div>

    <!-- end of container div -->
  </div>

</body>

</html>