<div class="container">
  <h3>
    Frequently asked questions
  </h3>
  <hr>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="heading">
      <mat-panel-title>
        <b> What is FactCheck?</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br><p>FactCheck is an algorithm that validates facts by finding evidences on the web to approve or deny a query. facts can
      be entered using
      <b>'Text'</b> or
      <b>'File'</b> input.</p>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="heading">
      <mat-panel-title>
        <b>How to use?</b>
      </mat-panel-title>
      <!-- <mat-panel-description>
            This is a summary of the content
          </mat-panel-description> -->
    </mat-expansion-panel-header>
    <br>
    <p>Once the fact is submitted, the API returns the total score as well as proof sentences and their corresponding scores. These
    features are described below.</p>
    <ul>
      <li>
        <b>Text Input: </b> <br> In 'Text' input.
        <b>Subject</b> and
        <b>Object</b> labels must be provided. You must put atleast one
        <b>label</b> in subject and object input box and hit
        <b>Enter</b> key. You must have to enter at least one subject and one Object label and select a predicate from the drop
        down list. Subject URI and Object URI is optional.
        <br>
        <br>
        <b>
          <h6>Example: </h6> Albert Einstein awarded Nobel Prize in Physics.</b> In this example,
        <b>Albert Einstein</b> is subject ,
        <b>award</b> is predicate and
        <b> Nobel Prize in Physics </b>
        is object.
      </li>
      <br>
      <li>
        <b>File Input: </b><br>
        In the
        <b>File</b> input, only .ttl file must be provided.
      </li>
    </ul>

  </mat-expansion-panel>

  <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="heading">
        <mat-panel-title>
          <b> How to enter multiple labels at once?</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Multiple labels for subject or object can be entered using a ',' (comma) between them. 
      </p>
      <br>        
        <b>
          <h6>Example: </h6> Albert Einstein, Albert, Albert Einst </b>
          <br> typing lables above and hitting enter will inserts three labels at once in subject or object input.
    </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="heading">
      <mat-panel-title>
        <b>Example ttl file</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br><p>ttl file contains a fact, here is the example of a simple ttl file. </p>
      <b><pre>
          @prefix fbase: <http://rdf.freebase.com/ns> .
          @prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#> .
          @prefix dbo:   <http://dbpedia.org/ontology/> .
          @prefix owl:   <http://www.w3.org/2002/07/owl#> .
          @prefix xsd:   <http://www.w3.org/2001/XMLSchema#> .
          @prefix skos:  <http://www.w3.org/2004/02/skos/core#> .
          
          <http://rdf.freebase.com/ns/m.0jcx__24>
                  dbo:award  <http://rdf.freebase.com/ns/m.0dt39> ;
                  dbo:from   "1921"^^xsd:gYear ;
                  dbo:to     "1921"^^xsd:gYear .
          
          <http://rdf.freebase.com/ns/m.0dt39>
                  rdfs:label     "Nobel Prize in Physics"@en , "Prix Nobel de physique"@fr , "Nobelpreis für Physik"@de ;
                  owl:sameAs     <http://fr.dbpedia.org/resource/Prix_Nobel_de_physique> , <http://fr.dbpedia.org/resource/> , <http://de.dbpedia.org/resource/Nobelpreis_für_Physik> , <http://dbpedia.org/resource/Nobel_Prize_in_Physics> , <http://de.dbpedia.org/resource/Liste_der_Nobelpreisträger_für_Physik> , <http://dbpedia.org/resource/List_of_Nobel_laureates_in_Physics> ;
                  skos:altLabel  "Nobel Physics Prize"@en , "Nobel laureates in physics"@fr .
          
          <http://rdf.freebase.com/ns/m.0jcx>
                  rdfs:label         "Albert Einstein"@fr , "Albert Einstein"@en , "Albert Einstein"@de ;
                  dbo:recievedAward  <http://rdf.freebase.com/ns/m.0jcx__24> ;
                  owl:sameAs         <http://dbpedia.org/resource/Albert_Einstein> , <http://fr.dbpedia.org/resource/Albert_Einstein> , <http://de.dbpedia.org/resource/Albert_Einstein> ;
                  skos:altLabel      "Albert"@fr , "Compassionate Zionism and Albert Einstein"@fr , "Albert Eienstein"@en .
      </pre></b>
    <p>More detail about a ttl can be found <a href= "https://www.w3.org/TeamSubmission/turtle/">here</a>.</p>
  </mat-expansion-panel>
</div>